        </div>
    </section>
</main>
<footer data-v-51319a4b="">
    <div data-v-51319a4b="" class="inside">
        <div data-v-51319a4b="" class="bio">
            <span data-v-51319a4b="" role="img" aria-label="The beautiful, handsome face of Michael Gale" class="image avatar" style="background-image: url(&quot;https://www.michaelgale.dev/images/mg-deep.jpg&quot;);"></span>
            <div data-v-51319a4b="" class="bio__meta">
                <h4 data-v-51319a4b="">Michael Gale</h4>
                <p data-v-51319a4b="">Web Developer | Melbourne, Australia</p>
                <ul data-v-51319a4b="" class="social-list">
                    <li data-v-51319a4b="" class="social-list__item">
                        <a data-v-51319a4b="" href="https://www.twitter.com/miclgael" title="twitter" class="social-list__link">
                            <svg data-v-51319a4b="">
                                <use data-v-51319a4b="" xlink:href="#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li data-v-51319a4b="" class="social-list__item">
                        <a data-v-51319a4b="" href="https://www.codepen.io/miclgael" title="codepen" class="social-list__link">
                            <svg data-v-51319a4b="">
                                <use data-v-51319a4b="" xlink:href="#icon-codepen"></use>
                            </svg>
                        </a>
                    </li>
                    <li data-v-51319a4b="" class="social-list__item">
                        <a data-v-51319a4b="" href="https://www.linkedin.com/in/miclgael" title="linkedin" class="social-list__link">
                            <svg data-v-51319a4b="">
                                <use data-v-51319a4b="" xlink:href="#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li data-v-51319a4b="" class="social-list__item">
                        <a data-v-51319a4b="" href="mailto:michael@michaelgale.dev" title="email" class="social-list__link">
                            <svg data-v-51319a4b="">
                                <use data-v-51319a4b="" xlink:href="#icon-email"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    document.querySelector('h1').textContent = 'Michael uses:';
</script>
</body>

</html>
